<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="apphb" connectionString="Data Source=bc56d0d5-cd67-4d9b-91ab-a764007532e4.sqlserver.sequelizer.com;Initial Catalog=dbbc56d0d5cd674d9b91aba764007532e4;Persist Security Info=True;User ID=szyhthraikijewsd;Password=qp4JjnibGoLSb6JLbPe7HsMTE2Z6AteWQ5fHrAJDU5REN77wWQtDWUG6KiequkGn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <customErrors mode="Off"></customErrors>
    </system.web>

</configuration>
